

body {
  margin: 0;
  padding: 0;
}

.container1 {
  text-align: center;
  width: 100vw;
  justify-content: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header1 {
  background-color: #3D71B8;
  border-style: none;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  width: 100%;
  margin: 0;
}

.header1::after {
  content: "";
  display: table;
  clear: both;
}

.badges-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

.badgescontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: center;
  width: 95%;
  height: 40vh; /* Use viewport height unit for adaptive height */
  margin: 0 auto;
  margin-top: 50px;
  overflow: auto; /* Add overflow property to enable scrollbar */
  position: relative; /* Add position property for positioning the indicator */
  box-shadow: inset 0 0 30px #3D71B8; /* Add inset box shadow */
}



.indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1; /* Set initial opacity to 1 */
  transition: opacity 0.3s; /* Add a transition effect for opacity change */
}

.indicator.transparent {
  opacity: 0; /* Set opacity to 0 when it loses its original position */
}

.indicator::before {
  margin-right: 5px;
}




.badges {
  max-width: 150px;
  max-height: 150px;
}

.badge-container {
  position: relative;
}

.badge-summary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 14px;
  max-width: 150px;
  white-space: normal; /* Allow auto-wrapping */
  text-align: center; /* Center-align the text */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}


.badge-container:hover .badge-summary {
  opacity: 1;
  visibility: visible;
}
.checkmark {
  position: absolute;
  bottom: 5px;
  right: -10px;
}

.checkmark-icon {
  width: 40px;
  height: 40px;
}
.progress-container {
  position: relative;
  margin-top:50px ;
  width: 100%;
  display: flex;
  justify-content: center; /* Center the progress bar horizontally */
  align-items: center; /* Center the progress bar vertically */
  background-image: url("/public/badges/progress.png");
  background-size:contain;
  background-position: center;
  align-items: center;
  background-repeat: no-repeat; /* Remove background image repeat */
}

.progress-bar {
  position: relative;
  width: 100%; /* Adjust the width of the progress bar */
  height: 20px; /* Adjust the height of the progress bar */
 
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
}

.progress-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.progress-label {
  text-align: center;
  font-size: 20px;
  margin: 0;
}