body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
}

.container1 {
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header1 {
  background-color: #3D71B8;
  border-style: none;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  width: 100%;
  margin: 0;
}

.header1::after {
  content: "";
  display: table;
  clear: both;
}

.badges-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

.badgescontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  width: 95vw;
  height: auto;
  margin: 0 auto;
  margin-top: 2px;
  top:125px;
  bottom: 65px;
  overflow: auto;
  position: absolute ;
}



.indicator {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s;
}

.indicator.transparent {
  opacity: 0;
}

.indicator::before {
  margin-right: 5px;
}

.badges {
  padding-top: 20px;
  width: 22vh;
  height: 25vh;
}

.badge-container {
  position: relative;
  
}

.badge-summary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 14px;
  max-width: 150px;
  white-space: normal;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  font-family: 'Roboto', sans-serif;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.badge-container:hover .badge-summary {
  opacity: 1;
  visibility: visible;
}

.checkmark {
  position: relative;
  bottom: 5px;
  right: -10px;
}

.checkmark-icon {
  width: 40px;
  height: 40px;
}

.progress-container {
  position: relative;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/public/badges/progress.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 20px;
}

.progress-label {
  position: relative;
  bottom: -20%;
  text-align: center;
  font-size: 90%;
  margin: 0;
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.radio-button {
  font-family: 'Roboto', sans-serif;
  color: #83C55F;
  font-size: 80%;
  text-shadow:
    -.10px -.10px 0 #83C55F,
    .10px -.10px 0 #83C55F,
    -.10px .10px 0 #83C55F,
    .10px .10px 0 #3D71B8;
}
