.file-uploads {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #83C55F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .file-section {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  
  .file-section-header {
    background-color: #3D71B8;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .file-section-header span {
    margin-left: 5px;
  }
  
  .file-section-header.minimized {
    border-bottom: 1px solid white;
  }
  
  .file-section-header.expanded {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .file-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .file-item {
    border: 1px solid #3D71B8;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .file-preview {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #83C55F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #83C55F;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: bold;
  }
  
  .custom-file-upload input[type="file"] {
    display: none;
  }
  
  